body{
    background-image:url("shifaaz-shamoon-oR0uERTVyD0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

 
    min-height: 100vh;
    margin:0 auto;
    padding: 0;
}
h2{
    text-align: center;
    color:white;
    font-family: "Gill Sans", sans-serif;
}
.container{
    margin:0 auto;
   top: 50%;
   left:50%;
   width:500px;
   padding: 2rem;
    background-color:rgb(66,144,245);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: o 16px 26px rgba(0,0,0,.5);
    border-radius: 12px;
    margin-bottom: 100px;
   
}

.style1{
    width: 70%;
    padding: 0.8rem ;
    border-radius: 20px;
    border: none;

}
.button{
    width:20%;
    padding: 0.6rem;
    background-color:rgb(19, 145, 38);
    border-radius: 12px;
    color:white;
    border:none;

  
    
}
.heading-style{
    color: rgb(218, 25, 11);
   text-align:center;
   font-size: 50px;
   text-align: center;
    font-family: cursive;
    margin-top: 10px;
}

.button-form{
    width:10%;
    padding: 0.6rem;
    background-color:rgb(218, 25, 11);
    border-radius: 8px;
    color:white;
    border:none;
  
}
.align{
   text-align: center;
   display:none;
}
.heading{
    color: white ;
    text-align: center;
    background-color:rgb(59, 59, 218);
    width:60%;
    height: 80px;
    margin-left: 250px;
    padding: 10px;
    margin-top:5px;
    
}
.np{
    color: white;
    text-align: left;
}
.button3{
    width:20%;
    padding: 0.6rem;
    background-color:rgb(218, 25, 11);
    border-radius: 8px;
    color:white;
    border:none;

 

  
}
#input-form{
    display:none;
}


.form-heading{
   
    margin-top: 0px;
    color: white;
}

.container2{
    margin:0 auto;
   top: 50%;
   left:50%;
   width:500px;
   padding: 2rem;
    background-color:rgb( 13, 191, 61);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: o 16px 26px rgba(0,0,0,.5);
    border-radius: 12px;
    margin-bottom: 100px;
   
}


    