body{
    background-image:url("photo-1592503254549-d83d24a4dfab.jpg");
    background-size: cover;
    background-repeat: no-repeat;

 
    
    margin:0 auto;
    padding: 0;
}
h2{
    text-align: center;
    color:white;
    font-family: "Gill Sans", sans-serif;
}
.container{
    margin:0 auto;
   top: 50%;
   left:50%;
   width:500px;
   padding: 2rem;
    background-color:rgba(0,0,0,.8);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: o 16px 26px rgba(0,0,0,.5);
    border-radius: 12px;
    margin-bottom: 100px;
   
}

.style1{
    width: 70%;
    padding: 0.8rem ;
    border-radius: 20px;
    border: none;

}
.button{
    width:20%;
    padding: 0.6rem;
    background-color:rgb(59, 59, 218);
    border-radius: 8px;
    color:white;
    border:none;
  
    
}
.heading-style{
    color: red;
    margin-top: 50px ;
   text-align:center;
   font-size: 50px;
}
.button2{
    width:20%;
    padding: 0.6rem;
    background-color:rgb(228, 34, 34);
    border-radius: 8px;
    color:white;
    border:none;
  
}
.align{
   text-align: center;
   display:none;
}
h1{
    color:cyan;
}
.np{
    color: white;
    text-align: left;
}
.button3{
    width:20%;
    padding: 0.6rem;
    background-color:rgb(70, 192, 70);
    border-radius: 8px;
    color:white;
    border:none;
  
}